@keyframes ribbon-open {
    0% {
        width: 100px;
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - var(--r)) 100%,
            calc(100% - var(--r) + 0.01em) 100%,
            calc(100% - var(--r) + 0.02em) 100%,
            calc(100% - var(--r) + 0.03em) 100%,
            calc(100% - var(--r) + 0.04em) 100%,
            100% 50%,
            calc(100% - var(--r)) 0
        );
        border-bottom: 0 solid #0005;
    }

    40% {
        width: calc(var(--t) + var(--s) + 25px);
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - 1lh) 1lh,
            calc(100% - 1lh) calc(1lh + 0.005em),
            calc(100% - .5lh) calc(1lh + 0.01em),
            calc(100%) calc(1lh + 0.005em),
            100% 1lh,
            100% .5lh,
            100% 0
        );
        border-bottom: 0 solid #0005;
    }

    100% {
        width: var(--t);
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - 1lh) 1lh,
            calc(100% - 1lh) calc(1lh + var(--s) - var(--r)),
            calc(100% - .5lh) calc(1lh + var(--s)),
            calc(100%) calc(1lh + var(--s) - var(--r)),
            100% 1lh,
            calc(100% - .5lh) .5lh,
            calc(100% - 1lh) 0
        );
        border-bottom: var(--s) solid #0005;
    }
}

@keyframes ribbon-close {
    0% {
        width: var(--t);
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - 1lh) 1lh,
            calc(100% - 1lh) calc(1lh + var(--s) - var(--r)),
            calc(100% - .5lh) calc(1lh + var(--s)),
            calc(100%) calc(1lh + var(--s) - var(--r)),
            100% 1lh,
            calc(100% - .5lh) .5lh,
            calc(100% - 1lh) 0
        );
        border-bottom: var(--s) solid #0005;
    }

    60% {
        width: calc(var(--t) + var(--s) + 25px);
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - 1lh) 1lh,
            calc(100% - 1lh) calc(1lh + 0.005em),
            calc(100% - .5lh) calc(1lh + 0.01em),
            calc(100%) calc(1lh + 0.005em),
            100% 1lh,
            100% .5lh,
            100% 0
        );
        border-bottom: 0 solid #0005;
    }

    100% {
        width: 100px;
        clip-path: polygon(
            0 0, var(--r) .5lh, 0 1lh,
            calc(100% - var(--r)) 100%,
            calc(100% - var(--r) + 0.01em) 100%,
            calc(100% - var(--r) + 0.02em) 100%,
            calc(100% - var(--r) + 0.03em) 100%,
            calc(100% - var(--r) + 0.04em) 100%,
            100% 50%,
            calc(100% - var(--r)) 0
        );
        border-bottom: 0 solid #0005;
    }
}
