@page "/"

<PageTitle>Home</PageTitle>

<h1>Negões de Glorian</h1>

Welcome to your new app.

<div class="alert alert-warning" role="alert">
    <p><strong>Tip:</strong> This project is a starting point for your Blazor application. You can use it as a template to build your own app.</p>
</div>

@code {
    
}