@page "/login"
@inject LayoutState LayoutState

<PageTitle>Login</PageTitle>

<h1>Login</h1>

Teste

@code{
    protected override void OnInitialized()
    {
        LayoutState.ShowSidebar = false;
    }
}
